* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: sans-serif;
}

body {
  /* background-color: #a459f4; */
  background-color: #caf0f8;
  /* height: 100vh; */
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 h1 {
  padding: 20px;
  margin: 20px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.todo-container {
  width: 600px;
  height: auto;
  /* border: 1px solid white;| */
  padding: 0px 20px 0px 20px;
}

.todo-search {
  width: 100%;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-search small {
  align-self: self-start;
  color: red;
}

.todo-search form {
  width: 100%;
  height: 80px;
  /* border: 1px solid black;| */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.todo-list {
  width: 100%;
  height: auto;
  /* margin-top: 20px; */
  background-color: white;
  padding-top: 10px !important;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
}

.todo-search form input,
select {
  border: 1px solid silver;
  height: 50px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

input:focus,
select:focus {
  outline: 1px solid #023e8a;
}

.todo-search form button {
  height: 50px;
  width: 70px;
  padding: 0px 10px 0px 10px;
  background-color: #023e8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-list-item {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid silver;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-item .btn-container {
  display: flex;
}
.todo-list-item .edit {
  margin-right: 10px;
}
.todo-list-item .edit,
.todo-list-item .del {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #023e8a;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list .task {
  display: flex;
}

.todo-list .task input {
  margin-right: 10px;
  width: 20px;
}

.strike {
  text-decoration: line-through;
}

.add-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.filter-form{
  width: 50%;
  /* margin: 10px 0px; */
  height: 50px;
}
.filter-form select{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  /* padding: 10px; */
}

.search-form {
  width: 50%;
  margin: 20px 0px 20px 0px;
  height: 50px;
}
.search-form input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.input-check {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.input-check input {
  outline: none;
}
.descp {
  color: rgb(144, 139, 139);
}

.todo-desc {
  display: flex;
  flex-direction: column;
}
